<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>au.def.upload</string>
	<key>connections</key>
	<dict>
		<key>0D512524-37A5-4908-A842-73A88AF7C919</key>
		<array/>
		<key>1EC0359C-48ED-4D32-B2F3-F2E593224F01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76514825-C917-4FB9-8B0A-FA66AAAF0C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EBFDB96E-37C5-4C62-8526-FC76B6A43F37</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C686EE8-7869-49B9-83B9-7BB339052083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76514825-C917-4FB9-8B0A-FA66AAAF0C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90B8229C-1951-491E-86E3-6A3E854F8445</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C686EE8-7869-49B9-83B9-7BB339052083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DD0438C3-B477-4607-BDD2-AE2834223371</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6E9E6D7D-1DAE-44A8-9AD4-745347ABA28D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8190FCC-73F9-46F8-840D-CB228AEE4E10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B067A6DC-E67C-4FBB-AC5E-A1774A154167</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EC0359C-48ED-4D32-B2F3-F2E593224F01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8190FCC-73F9-46F8-840D-CB228AEE4E10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>violet@def.au</string>
	<key>description</key>
	<string>A multi-service upload tool</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload Files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>uploadres</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python3 ./upstat.py --xml immich nextcloud</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Result of last uploads via alfred</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D512524-37A5-4908-A842-73A88AF7C919</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./share-nc.sh --dest "$ncdest" --nec ./nec --direct --stable "$1" | tee -a "${alfred_workflow_data}/nextcloud.log" | tail -n 2 | head -n 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76514825-C917-4FB9-8B0A-FA66AAAF0C54</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Share via nextcloud</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B067A6DC-E67C-4FBB-AC5E-A1774A154167</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result of {var:backend} upload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:ncdest}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>no dest</string>
						<key>uid</key>
						<string>EBFDB96E-37C5-4C62-8526-FC76B6A43F37</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>good</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1EC0359C-48ED-4D32-B2F3-F2E593224F01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>backend</key>
					<string>nextcloud</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Required variables for {var:backend} not set.</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Upload to immich</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>90B8229C-1951-491E-86E3-6A3E854F8445</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:immichkey}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No url</string>
						<key>uid</key>
						<string>DD0438C3-B477-4607-BDD2-AE2834223371</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:immichurl}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No key</string>
						<key>uid</key>
						<string>6E9E6D7D-1DAE-44A8-9AD4-745347ABA28D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>good</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>backend</key>
					<string>immich</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2C686EE8-7869-49B9-83B9-7BB339052083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>logto="${alfred_workflow_data}/immich.log"
exec &gt; &gt;(tee -a "$logto")
mkdir -p "${alfred_workflow_data}"
printf "Uploaded "$1" with " 
./immich-go -no-colors-log -server "$immichurl" -key "$immichkey" upload "$1" | awk '/errors/{printf $1" "$2}' 
printf " at $(date +"%Y-%m-%d %H:%M")"
printf "
NULL
" &gt;&gt; "$logto"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8190FCC-73F9-46F8-840D-CB228AEE4E10</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Uploads files to various services via universal action. 
Displays results/status via notifications, filter keyword and even past results via a log file.

### Currently supported upload backends

**Nextcloud Share**:
- Requires Nextcloud Desktop Sync app running
- Copies selected files or folders to a given directory inside the desktop sync target - must set ncdest variable for this
- Generates a share link once file is uploaded and sends it to clipboard.


**Immich**:
- Uploads images 
- Requires API key and server URL variables to be set


### Additional tools
- uploadres (keyword): displays status of last run upload for each backend

---

Cloud icon (icon.png) created by graphicmall - Flaticon (https://www.flaticon.com/free-icons/cloud)</string>
	<key>uidata</key>
	<dict>
		<key>0D512524-37A5-4908-A842-73A88AF7C919</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>0E46661F-558F-4479-A3F8-26E735BA8DFB</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>1EC0359C-48ED-4D32-B2F3-F2E593224F01</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2C686EE8-7869-49B9-83B9-7BB339052083</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>76514825-C917-4FB9-8B0A-FA66AAAF0C54</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>90B8229C-1951-491E-86E3-6A3E854F8445</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>B067A6DC-E67C-4FBB-AC5E-A1774A154167</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>F8190FCC-73F9-46F8-840D-CB228AEE4E10</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Nextcloud/share</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Required for Nextcloud. A folder that is within nextcloud desktop sync target. Files will be copied here for sharing.</string>
			<key>label</key>
			<string>Nextcloud Desination Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>ncdest</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Required for immich.</string>
			<key>label</key>
			<string>Immich API key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>immichkey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://immich.example.com</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Required for immich.</string>
			<key>label</key>
			<string>Immich Server URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>immichurl</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>def.au</string>
</dict>
</plist>
