<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>au.def.upload</string>
	<key>connections</key>
	<dict>
		<key>0CCCBD58-19A7-43AE-B29F-23223A26039A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E2D6183-4E1D-4BFF-9228-CE4B25DCF736</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D512524-37A5-4908-A842-73A88AF7C919</key>
		<array/>
		<key>1EC0359C-48ED-4D32-B2F3-F2E593224F01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EBFDB96E-37C5-4C62-8526-FC76B6A43F37</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>76514825-C917-4FB9-8B0A-FA66AAAF0C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C686EE8-7869-49B9-83B9-7BB339052083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD0D9E7E-D3E6-4589-AABD-F25B95F85E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E2D6183-4E1D-4BFF-9228-CE4B25DCF736</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9349DDE-D6CD-4C92-AB16-210E8166B39B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76514825-C917-4FB9-8B0A-FA66AAAF0C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80D88C38-97E4-487F-8748-BCFB65FBF417</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DD0438C3-B477-4607-BDD2-AE2834223371</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF38F6CC-6BFD-4D93-ACA7-8DCC6603FCC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83BEC7A8-251F-4F7A-84F5-22FB42572BF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98372A01-9B03-45A6-8CB6-4FA3F69FBE24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90B8229C-1951-491E-86E3-6A3E854F8445</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C686EE8-7869-49B9-83B9-7BB339052083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98372A01-9B03-45A6-8CB6-4FA3F69FBE24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD0D9E7E-D3E6-4589-AABD-F25B95F85E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DD0438C3-B477-4607-BDD2-AE2834223371</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6E9E6D7D-1DAE-44A8-9AD4-745347ABA28D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8190FCC-73F9-46F8-840D-CB228AEE4E10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B067A6DC-E67C-4FBB-AC5E-A1774A154167</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF38F6CC-6BFD-4D93-ACA7-8DCC6603FCC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFF09A71-1018-452C-800C-D4EC54DB016C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CCCBD58-19A7-43AE-B29F-23223A26039A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9349DDE-D6CD-4C92-AB16-210E8166B39B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9349DDE-D6CD-4C92-AB16-210E8166B39B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EC0359C-48ED-4D32-B2F3-F2E593224F01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>160F8409-3B88-4EEF-8359-391DD48F1391</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>59395524-F3A4-4063-A93F-BFA33CF4C366</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80D88C38-97E4-487F-8748-BCFB65FBF417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0FA93DC9-11E5-43F6-A11A-ACFDEC4A7946</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD0D9E7E-D3E6-4589-AABD-F25B95F85E7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFF09A71-1018-452C-800C-D4EC54DB016C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD0D9E7E-D3E6-4589-AABD-F25B95F85E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8190FCC-73F9-46F8-840D-CB228AEE4E10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>violet@def.au</string>
	<key>description</key>
	<string>A multi-service upload tool</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload Files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>upload</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>if [[ "$1" == "update" ]]; then 
	python ./upload.py --update
elif [[ -n "$1" ]]; then
	python3 ./upload.py --xml "$1"
else
	python3 ./upload.py --xml
fi </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Result of last uploads via alfred</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D512524-37A5-4908-A842-73A88AF7C919</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Required variables for {var:backend} not set.</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0E46661F-558F-4479-A3F8-26E735BA8DFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>touch "${alfred_workflow_data}/has-run"
xattr -d com.apple.quarantine ./immich-go ./share-nc.sh ./nec</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4E2D6183-4E1D-4BFF-9228-CE4B25DCF736</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Share via nextcloud</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B067A6DC-E67C-4FBB-AC5E-A1774A154167</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Allow</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>This workflow relies on internal scripts and binaries that you must allow to run. Selecting allow will remove the xattr com.apple.quarantine from files shiped with the workflow.</string>
				<key>title</key>
				<string>Initalise workflow by alllowing binaries to run</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>0CCCBD58-19A7-43AE-B29F-23223A26039A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:ncdest}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>no dest</string>
						<key>uid</key>
						<string>EBFDB96E-37C5-4C62-8526-FC76B6A43F37</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>good</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1EC0359C-48ED-4D32-B2F3-F2E593224F01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>backend</key>
					<string>nextcloud</string>
					<key>file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>out=$(./share-nc.sh --dest "$ncdest" --nec ./nec --direct --stable "$file")
printf "\n%s" "$out" &gt;&gt; "${alfred_workflow_data}/nextcloud.log"
printf "%s" "$out" | awk -F  ';' 'NR==2  {print $1}'

if [[ "$out" -eq 0 ]]; then
	echo "Success"
else
	echo "Failure"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76514825-C917-4FB9-8B0A-FA66AAAF0C54</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:immichkey}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No url</string>
						<key>uid</key>
						<string>DD0438C3-B477-4607-BDD2-AE2834223371</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:immichurl}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No key</string>
						<key>uid</key>
						<string>6E9E6D7D-1DAE-44A8-9AD4-745347ABA28D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>good</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:backend}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>nextcloud</string>
						<key>outputlabel</key>
						<string>nc</string>
						<key>uid</key>
						<string>160F8409-3B88-4EEF-8359-391DD48F1391</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:backend}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>immich</string>
						<key>outputlabel</key>
						<string>immich</string>
						<key>uid</key>
						<string>59395524-F3A4-4063-A93F-BFA33CF4C366</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:backend}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ptpimg</string>
						<key>outputlabel</key>
						<string>ptpimg</string>
						<key>uid</key>
						<string>0FA93DC9-11E5-43F6-A11A-ACFDEC4A7946</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D9349DDE-D6CD-4C92-AB16-210E8166B39B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Upload to immich</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>90B8229C-1951-491E-86E3-6A3E854F8445</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>File: {var:file}</string>
				<key>title</key>
				<string>{var:backend} upload: {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>CFF09A71-1018-452C-800C-D4EC54DB016C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>backend</key>
					<string>immich</string>
					<key>file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2C686EE8-7869-49B9-83B9-7BB339052083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{const:alfred_workflow_data}/has-run</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>status</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD0D9E7E-D3E6-4589-AABD-F25B95F85E7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>logto="${alfred_workflow_data}/immich.log"
printf "\n%s" "$file" &gt;&gt; "$logto"

out=$(./immich-go -no-colors-log -server "$immichurl" -key "$immichkey" upload "$file" | awk '/errors/ {printf $1}')

printf "\n%s;" "$out"  &gt;&gt; "$logto"

if [[ "$out" -eq 0 ]]; then
	echo "Success"
else
	echo "Failure"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8190FCC-73F9-46F8-840D-CB228AEE4E10</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:ptpimgkey}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No key</string>
						<key>uid</key>
						<string>DD0438C3-B477-4607-BDD2-AE2834223371</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>good</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>80D88C38-97E4-487F-8748-BCFB65FBF417</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Upload to ptpimg.me</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>83BEC7A8-251F-4F7A-84F5-22FB42572BF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>backend</key>
					<string>ptpimg</string>
					<key>file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>98372A01-9B03-45A6-8CB6-4FA3F69FBE24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>out=$(curl -F "file-upload[0]=@${file}" -F api_key="$ptpimgkey" "https://ptpimg.me/upload.php")
slug=$(printf "%s" "$out" | awk '/code/ {print $2}' | tr -d "\",")
ext=$(printf "%s" "$out" | awk '/ext/ {print $2}' | tr -d "\",")
url="https://ptpimg.me/${slug}.${ext}"
logto="${alfred_workflow_data}/ptpimg.log"

if [ ${#slug} -eq 6 ]; then
	pbcopy &lt;&lt;&lt; "$url"
	printf "\n%s\n0;%s" "$file" "$url" &gt;&gt; "$logto"
	printf "Success"
else
	printf "\n%s\n1;" "$file" &gt;&gt; "$logto"
	print "Failure"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF38F6CC-6BFD-4D93-ACA7-8DCC6603FCC9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Uploads files to various services via universal action. 
Displays results/status via notifications, filter keyword and even past results via a log file.

### Currently supported upload backends

**Nextcloud Share**:
- Requires Nextcloud Desktop Sync app running
- Copies selected files or folders to a given directory inside the desktop sync target - must set ncdest variable for this
- Generates a share link once file is uploaded and sends it to clipboard.

**Immich**:
- Uploads images 
- Requires API key and server URL variables to be set

**ptpimg.me**

### Additional tools
- upload: displays status of last run upload for backend, defaults to all. Running this keyword also triggers autoupdate mechanism.


---

Cloud icon (icon.png) created by graphicmall - Flaticon (https://www.flaticon.com/free-icons/cloud)</string>
	<key>uidata</key>
	<dict>
		<key>0CCCBD58-19A7-43AE-B29F-23223A26039A</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>0D512524-37A5-4908-A842-73A88AF7C919</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>0E46661F-558F-4479-A3F8-26E735BA8DFB</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>1EC0359C-48ED-4D32-B2F3-F2E593224F01</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>2AF36373-AFB0-4DF0-8CD7-58EBD960FF5B</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>2C686EE8-7869-49B9-83B9-7BB339052083</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>4E2D6183-4E1D-4BFF-9228-CE4B25DCF736</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>76514825-C917-4FB9-8B0A-FA66AAAF0C54</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>80D88C38-97E4-487F-8748-BCFB65FBF417</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>83BEC7A8-251F-4F7A-84F5-22FB42572BF6</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>90B8229C-1951-491E-86E3-6A3E854F8445</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>98372A01-9B03-45A6-8CB6-4FA3F69FBE24</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>AA137055-BEC3-4065-AF5E-2D6B79AEBBF4</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>B067A6DC-E67C-4FBB-AC5E-A1774A154167</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>CF38F6CC-6BFD-4D93-ACA7-8DCC6603FCC9</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>CFF09A71-1018-452C-800C-D4EC54DB016C</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D9349DDE-D6CD-4C92-AB16-210E8166B39B</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>DD0D9E7E-D3E6-4589-AABD-F25B95F85E7B</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>E986CBE7-F9DA-4C82-8917-5CDD32FC9C37</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>F8190FCC-73F9-46F8-840D-CB228AEE4E10</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Nextcloud/share</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Required for Nextcloud. A folder that is within nextcloud desktop sync target. Files will be copied here for sharing.</string>
			<key>label</key>
			<string>Nextcloud Desination Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>ncdest</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Required for immich.</string>
			<key>label</key>
			<string>Immich API key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>immichkey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://immich.example.com</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Required for immich.</string>
			<key>label</key>
			<string>Immich Server URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>immichurl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Required for ptpimg.me. To get this key, log in to ptpimg.me, open the dev tools console and type: document.getElementById('api_key').value</string>
			<key>label</key>
			<string>ptpimg.me API key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ptpimgkey</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3</string>
	<key>webaddress</key>
	<string>def.au</string>
</dict>
</plist>
