<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immichkey</key>
	<string>6ojb2kIxbg0V18HhqbxrmCeZZA8xuKk67tIlSy00</string>
	<key>immichurl</key>
	<string>https://immich.def.au</string>
	<key>ncdest</key>
	<string>~/Nextcloud/share</string>
	<key>ptpimgkey</key>
	<string>6f4cc8e5-7faf-42cb-ae7a-bd4e25b2b4ab</string>
</dict>
</plist>
